body {
  display: flex;
  justify-content: center;
}

button {
  border: 5px solid gray;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto; 
  display: block;
  margin-top: 300px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}